<!-- this is the splash landing page - it should contail buttons for user sign-in/sign-up -->
<section class="debug">
  <div class="debug">
  </div>
</section>



<%if current_user%>
	Welcome <%=current_user.name%>
	<%=link_to "Sign Out", signout_path%>
<%else%>

	<%=link_to 'github signin', auth_github_path%>
<%end%>




