<div>
<div class="tag-search-form">
  <form class="search box fl-r" action="/users/<%= current_user.id %>/projects" method="get">
    <label for='Search It'>Search: </label>
    <input type="text" name="search_string"/>
    <input type="submit" value="SEARCH" />
  </form>
</div>
<div class="c-hero-projects"></div>

<h2 class="c-hero-container_pages">PROJECTS</h2>

<div class="c-hero-container-outer">
</div>

  <br>

  <div>
    <% @projects.each do |project| %>
    <div class="proj-box">

      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT_n8lZXmr324sDXbUr0hD1BUJrBZaq7iMOEECagN7zlJKtzp8"></img><br>

      <div class="user-name">
        <p><%= link_to "#{project.title}", user_project_path(id: project.id), class: "projects-index" %></p>
      </div><br>

      <div class="user-name">
        <p>Title: <%= project.title %></p>
      </div><br>

      <div class="user-name">
        <p>created by: <%= User.find(project.user_id).name %></p><br>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>
