<div>
  <div>
    <form class="search box fl-r">
      <label for='Search It'>Search: </label>
      <input type="text_field" />
      <input type="submit" value="SEARCH" />
    </form>

    <div class="c-hero-challenge"></div>

    <h2 class="c-hero-container_pages">RESOURCES</h2>

    <div class="c-hero-container-outer">
    </div>
    <br>
    <div class="p-name r-table">
      <% @resources.each do |resource| %>
        <table style="width:100%">
          <tr>
            <th>Title</th>
            <th>Description</th>
          </tr>
          <tr>
            <%= link_to "#{resource.title}", user_resource_path(id: resource.id) %>
            Description: <%= resource.description %></tr>
          </table>
        <% end %>
      </div>
      <!-- this is the page that will display a (partial) form to edit a challenge -->
    </div>
  </div>
