<div>
  <div>
    <h1>List of Challenges</h1>
  </div>
  <br>
  <div>
    <% @challenges.each do |challenge| %>
    <p><%= link_to "#{challenge.title}", user_challenge_path(id: challenge.id) %></p>
    <p>Title: <%= challenge.title %></p>
    <p>Description: <%= challenge.description %></p>
    <br>
    <% end %>
  </div>
  <!-- this is the page that will display a (partial) form to edit a challenge -->
</div>
