.fl-l { float: left; }
.fl-r { float: right; }
.p-sm { padding: 20px; }

.c-hero {
  background-image: url("http://www.fightyourticketsf.com/images/downtownsf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  display: block;
  box-sizing: border-box;
  height: 900px;
}

.hr_intro {
  width: 560px;
  opacity: 0.5;
}

.hr_boxes_two {
  display: inline-block;
  position: relative;
  top: -84px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 18px;
  height: 18px;
}

.c-hero-container {
  background-color: black;
  opacity: 0.7;
  height: 600px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 150px;
  top: 100px;
  color: white;
  text-align: center;
  font-family: 'AmsiPro-Regular','Helvetica Neue',Helvetica,sans-serif;
  font-weight: bold;
  font-size: 68px;
}
.c-hero-container_copy {
  postion: relative;
  margin-top: -40px;
  font-weight: normal;
  font-family: verdana;
  font-size: 28px;
}
.center-login {
 margin-left: auto;
 margin-right: auto;
 position: relative;
 background-color: white;
 font-size: 15px;
}

.u-hero {
  background-image: url("http://www.fightyourticketsf.com/images/downtownsf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  display: block;
  box-sizing: border-box;
  height: 300px;
}

.center {
  text-align: center;
  font-weight: bold;
  font-family: 'AmsiPro-Regular','Helvetica Neue',Helvetica,sans-serif;
  font-size: 48px;
}

.user-img {
  text-align: center;
  float: left;
  height: 120px;
  width: 80px;
  margin: 75px;
  -webkit-justify-content: space-around;
}

.user-img-border {
  border:5px solid #021a40;
  border-radius: 30px;
}

.user-name {
  text-align: center;
  font-weight: bold;
  font-family: 'AmsiPro-Regular','Helvetica Neue',Helvetica,sans-serif;
  font-size: 18px;
}

.chal-box {
  padding-right: 10px;
  float: left;
  position:relative;
  left:185px;
  margin-right: 300px;
  width: 375px;
  display: block;
  height: 380px;
  background: black;
  border: 1px solid black;
  top: -75px;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 25px;
}


