html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a.projects-index:link {
  color:#ffffff;
  text-decoration: underline;
}

a.projects-index:hover, a.projects-index:active, a.projects-index:visited {
  color:#cccccc;
  text-decoration: underline;
}
a.user-profile:link {
  color:#ffffff;
  text-decoration: none;
}

a.user-profile:active, a.user-profile:visited {
  color:#cccccc;
  text-decoration: none;
}
a.user-profile:hover {
  color:#000000;
  text-decoration: none;
}
.form {
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin:auto;
  position:relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:10px;
  text-align:right;
}

.user_form_container{
  border: 1px solid;
  float:left;
}
.input    {
margin: 5px;
display: inline;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
