<!DOCTYPE html>
<html>
<head>
  <title>Phase4test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="p-sm cf debug">
    <h1 class="fl-l debug">
      <a href="/">Logo</a>
    </h1>
    <nav class="fl-r debug">
      <ul class="cf debug phase4-nav">
        <li><a href="/">Challenges</a></li>
        <li><a href="/">Resources</a></li>
        <li><a href="/">Projects</a></li>
        <li><a href="/">Members</a></li>
      </ul>
    </nav>
  </header>
<%= yield %>

</body>
</html>
